.breadcrumbs {
  margin-bottom: 35px;

  @include max(840) {
    margin-bottom: 25px;
  }
}

.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.breadcrumbs__item {
  position: relative;
  list-style: none;
  &::after {
    font-size: 15px;
    margin: 0 3px 0 4px;
    content: '/';
    color: #969696;
  }
  &:last-child {
    .breadcrumbs__link {
      text-decoration: none;
      pointer-events: none;
      color: $text;
    }
    &::after {
      display: none;
    }
  }
}

.breadcrumbs__link {
  font-size: 15px;
  white-space: nowrap;
  color: #969696;
  &:hover {
    text-decoration: underline;
    color: #969696;
  }
}
