.burger-wrap {
  z-index: 102;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: none;
  width: 46px;
  height: 46px;
  margin-left: 30px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #ff585d;

  @include max(1160) {
    display: flex;
  }
  @include max(680) {
    width: 40px;
    height: 40px;
  }
}

.burger {
  position: relative;
  flex: none;
  width: 20px;
  height: 14px;

  @include max(680) {
    width: 16px;
  }
  &::before,
  &::after {
    position: absolute;
    right: 0;
    height: 2px;
    content: '';
    transition: $transition;
    background-color: #fff;
  }
  &::before {
    top: 0;
    width: 20px;

    @include max(680) {
      width: 16px;
    }
  }
  &::after {
    top: 7px;
    width: 15px;

    @include max(680) {
      width: 12px;
    }
  }
}

.burger-wrap.active {
  .burger {
    &::before {
      top: 6px;
      transform: rotate(-45deg);
    }
    &::after {
      top: 6px;
      width: 20px;
      transform: rotate(45deg);

      @include max(680) {
        width: 16px;
      }
    }
  }
}
