.tooltip {
  position: absolute;
  right: -10px;
  bottom: 100%;
  width: max-content;
  padding: 15px 35px 15px 15px;
  transition: $transition;
  pointer-events: none;
  opacity: 0;
  border-radius: 7px;
  background: #fff;
  box-shadow: 15px 15px 30px rgba(53, 93, 154, .2);
  &::before {
    position: absolute;
    top: 100%;
    right: 20px;
    width: 14px;
    height: 0;
    margin: auto;
    content: '';
    border-top: 8px solid #fff;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
  }
}

.tooltip__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #323232;
}