.header {
  //position: absolute;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
  transition: .5s;
  background-color: transparent;

  @include max(1160) {
    position: fixed;
    padding: 15px 0;
    background-color: #fffcfc;
  }
  &::before {
    position: absolute;
    z-index: 101;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    margin: auto;
    content: '';
    background-color: #fffcfc;

    @include max(1160) {
      display: block;
    }
  }
  .container-lg {
    display: flex;
    align-items: center;
  }
}

.header__mobile-menu {
  z-index: 102;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: $transition;

  @include max(1160) {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 96px 16px 16px 16px;
    transform: translateY(-100vh);
    background-color: #ffeaec;
    &.active {
      transform: translateY(0);
    }
  }
  @include max(680) {
    padding: 86px 16px 16px 16px;
  }
}

//begin #menu
.header-menu {
  width: 100%;
}

.header-menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  @include max(1160) {
    flex-direction: column;
    padding: 0 0 30px 0;
  }
}

.header-menu__item {
  padding: 10px 20px;
  list-style: none;

  @include max(1300) {
    padding: 10px 15px;
  }
  @include max(1160) {
    padding: 18px 0;
  }
  @include max(680) {
    padding: 12px 0;
  }
  &::before {
    display: none;
  }
}

.header-menu__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  position: relative;
  display: block;
  white-space: nowrap;
  color: #fff;

  @include max(1300) {
    font-size: 16px;
  }
  @include max(1160) {
    font-size: 30px;
    color: #323232;
  }
  @include max(680) {
    font-size: 20px;
  }
  &.active,
  &:hover {
    text-decoration: none;
    color: #fff;

    @include max(1160) {
      color: #323232;
    }
    &::before {
      width: 100%;
    }
  }
  &::before {
    position: absolute;
    right: 0;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    margin: auto;
    content: '';
    transition: $transition;
    background-color: #fff;

    @include max(1160) {
      bottom: -5px;
      background-color: #323232;
    }
  }
}

//end #menu

//begin #HEADER INN
.header.active,
.header--inn {
  background-color: #fffcfc;
  //begin #MENU
  .header-menu__link {
    color: #323232;

    &.active,
    &:hover {
      color: #323232;
    }
    &::before {
      background-color: #323232;
    }
  }
  //end #MENU
}

//end #HEADER INN
