//begin aside
aside.aside
  a(href="#").aside__link.aside__link--pink
    img(src="assets/img/bg-aside-01.svg" alt="picture")
    span Прочитайте живые истории
  a(href="#").aside__link.aside__link--pic
    img(src="assets/img/bg-aside-02.jpg" alt="picture")
    span К КАКОМУ ВРАЧУ ИДТИ, ЕСЛИ ПОЯВИЛИСЬ СИМПТОМЫ КЛИМАКСА?
  a(href="#").aside__link.aside__link--red
    img(src="assets/img/bg-aside-03.svg" alt="picture")
    span БЕСПЛАТНАЯ ОНЛАЙН КОНСУЛЬТАЦИЯ СПЕЦИАЛИСТА
//end aside