//begin article__comments
.article__comments
  h3.article__comments-title комментарии

  //begin comments
  .comments
    .comment
      p Я – человек публичный. И климакс для меня – это, прежде всего, внешнее старение и утрата привлекательности. Не могу себе этого позволить. Лицо – моя визитная карточка, работа и благополучие. О климаксе я читала, поэтому с тревогой ждала. Когда месячные стали нерегулярными и скудными, я вооружилась БАДами. И в течение двух лет они меня спасали – я забыла о климаксе, цикл восстановился. Но БАДы – дорогое удовольствие...
      .comment__name Анна
    .comment
      p Я – человек публичный. И климакс для меня – это, прежде всего, внешнее старение и утрата привлекательности. Не могу себе этого позволить.
      .comment__name Галина
  //end comments

  h3.article__comments-title ОСТАВЬТЕ СВОЙ КОММЕНТАРИЙ

  //begin comments__form
  form.comments__form
    textarea(placeholder='ВАШ КОММЕНТАРИЙ').comments__textarea
    input(placeholder='ВАШЕ имя').comments__input
    input(type='submit' value='отправить').btn.btn--red.comments__submit
  //end comments__form
//end article__comments


