//begin doctor-top
.doctor__top.doctor-top
  .doctor-top__info
    include ../elements/breadcrumbs-doctor
    h2.doctor-top__name Иванов<br>Hиколай Иванович
    .doctor-top__position акушер-гинеколог, врач высшей категории
    .doctor-top__text
      p Я – человек публичный. И климакс для меня – это, прежде всего, внешнее старение и утрата привлекательности. Не могу себе этого позволить. Лицо – моя визитная карточка, работа и благополучие. О климаксе я читала, поэтому с тревогой ждала.
    a(href="#").doctor-top__adress
      .doctor-item__icon
        img(src="assets/img/adress.svg" alt="picture")
      span Центр молекулярной медицины
    a(href="#").btn.btn--red.doctor-top__btn записаться на прием
  .doctor-top__ava
    img(src="assets/img/doctor-lg.jpg" alt="picture")
//end doctor-top