//begin doctor-map
.doctor__map.doctor-map
  #doctor-map
  .container
    .doctor-map__info
      h3.doctor-map__title центр молекулярной медицины

      .doctor-map__item.doctor-map__adress
        .doctor-map__icon
          +svg('marker')
        .doctor-map__link
          a(href="#" target="_blank" rel="nofollow noopener noreferrer") Москва, ул. Ленина, 256

      .doctor-map__item.doctor-map__phone
        .doctor-map__icon
          +svg('phone')
        .doctor-map__link
          a(href="tel:+7924785643") +7 924 78 56 43
          a(href="tel:+7924785643") +7 924 78 56 43

      .doctor-map__item.doctor-map__email
        .doctor-map__icon
          +svg('email')
        .doctor-map__link
          a(href="mailto:info@centrmolekulyarnojmedicini") info@centrmolekulyarnojmedicini

      .doctor-map__item.doctor-map__schedule
        .doctor-map__icon
          +svg('clock')
        .doctor-map__link
          span Работаем пн-пт с 09:00 до 18:00
          span Выходной сб и вс
//end doctor-map