//begin footer
.footer
  //begin footer-row--top
  .footer-row.footer-row--top
    .container
      //begin footer-row__left
      .footer-row__left
        a(href="/").footer__logo.footer-logo
          +svg('logo')
        .footer__description
          span Уважаемые посетители нашего сайта! Напоминаем вам, что общение через форму "Задать вопрос" на сайте не является диагностикой, а для консультирования, постановки диагноза и назначения лечения необходимо обратиться к соответствующему специалисту.
          span <strong>Если есть вопросы, – можем обсудить их все вместе. Присоединяйтесь к нам!</strong>
      //end footer-row__left

      //begin footer-row__right
      .footer-row__right
        //begin footer-menu
        nav.footer__menu.footer-menu
          //begin footer-menu__list
          ul.footer-menu__list
            li.footer-menu__item
              a(href="#").footer-menu__link Полезные статьи
            li.footer-menu__item
              a(href="#").footer-menu__link Вопросы и ответы
            li.footer-menu__item
              a(href="#").footer-menu__link Живые истории
            li.footer-menu__item
              a(href="#").footer-menu__link Проверь себя
          //end footer-menu__list

          //begin footer-menu__list
          ul.footer-menu__list
            li.footer-menu__item
              a(href="#").footer-menu__link Подобрать центр
            li.footer-menu__item
              a(href="#").footer-menu__link Инструкция, как начать лечение
            li.footer-menu__item
              a(href="#").footer-menu__link Консультация эксперта
          //end footer-menu__list
        //end footer-menu
      //end footer-row__right

  //end footer-row--top

  //begin .footer-row--bottom
  .footer-row.footer-row--bottom
    .container
      a(href="#").footer__agree Пользовательское соглашение

      //begin footer__socials
      ul.footer__socials.footer-socials
        li.footer-socials__item
          a(href="#").footer-socials__link
            img(src="assets/img/vk.svg" alt="vk link")
        li.footer-socials__item
          a(href="#").footer-socials__link
            img(src="assets/img/inst.svg" alt="instagram link")
        li.footer-socials__item
          a(href="#").footer-socials__link
            img(src="assets/img/fb.svg" alt="facebook link")
        li.footer-socials__item
          a(href="#").footer-socials__link
            img(src="assets/img/od.svg" alt="odnoklassniki link")
        li.footer-socials__item
          a(href="#").footer-socials__link
            img(src="assets/img/tw.svg" alt="twitter link")
      //end footer__socials
  //end footer-row--bottom
//end footer
