//begin form-sec
.form-sec
  .container
    h2.form-sec__title ВЫ можете пройти ОНЛАЙН-КОНСУЛЬТАЦИЮ ЭКСПЕРТА БЕСПЛАТНО ПРЯМО СЕЙЧАС
    form.form-sec__form
      input(type='text' placeholder='Ваше имя').form-sec__input
      input(type='text' placeholder='Телефон').form-sec__input
      input(type='submit' value='Отправить запрос').btn.btn--white.form-sec__submit
      .form-sec__add-file
        input(type='file')
        +svg('binder')
        span Прикрепите все анализы
//end form-sec