//begin form-sec
.form-sec
  .container
    h2.form-sec__title Запись на прием
    form.form-sec__form
      input(type='text' placeholder='Ваше имя').form-sec__input
      input(type='text' placeholder='Телефон').form-sec__input
      input(type='submit' value='Записаться').btn.btn--white.form-sec__submit
//end form-sec