//begin header
header.header.header--inn
  .container-lg
    //begin header__logo
    a(href="/").header__logo
      img(src="assets/img/header-logo.svg" alt="picture")
    //end header__logo

    //begin header__mobile-menu
    .header__mobile-menu#header__mobile-menu

      //begin header__menu
      nav.header__menu.header-menu
        ul.header-menu__list
          li.header-menu__item
            a(href="#").header-menu__link Полезные статьи
          li.header-menu__item
            a(href="#").header-menu__link Вопросы и ответы
          li.header-menu__item
            a(href="#").header-menu__link Живые истории
          li.header-menu__item
            a(href="#").header-menu__link Проверь себя
      //end header__menu

      //begin header__btns
      .header__btns
        a(href="#" data-popup="popup-registration").btn.btn--pink.header__btn.header__btn--pink.popup-open Online консультация
        a(href="#").btn.btn--transparent-white.header__btn.header__btn--white Врачи-эксперты
      //end header__btns
    //end header__mobile-menu

    //begin header__lang
    .header__lang.lang
      a(href="#").lang__item.active Rus
      a(href="#").lang__item Kaz
    //end header__lang

    include ../elements/burger
//end header