//begin map-sec
.map-sec
  .container-lg
    .map-sec__left
      .map-sec__left-inn
        h2.map-sec__title ЗДЕСЬ ВАМ ПОМОГУТ
        span.map-sec__descr Найдите ближайшую клинику или медицинский центр. Профессиональные врачи-гинекологи проконсультируют вас о способах лечения менопаузы.
        form.map-sec__form
          .map-sec__select-wrap
            select.map-sec__select
              option Город
              option Город 1
              option Город 2
              option Город 3
          .map-sec__select-wrap
            select.map-sec__select
              option выберите клинику
              option Клиника 1
              option Клиника 2
              option Клиника 3

    .map-sec__right
      .map#map
//end map-sec