//begin question-sec
.question-sec
  .container
    h2.question-sec__title
      span Вопросы
      =' '
      span и ответы
    .question-sec__body
      a(href="#").question-sec__link
        +svg('question')
        span Можно ли забеременеть во время климакса?
      a(href="#").question-sec__link
        +svg('question')
        span Как долго могут продолжаться приливы?
      a(href="#").question-sec__link
        +svg('question')
        span Получается, уменьшить симптомы климакса можно только очень сильными гормональными таблетками?
      a(href="#").question-sec__link
        +svg('question')
        span  Можно ли набрать лишний вес во время климакса?
      a(href="#").btn.btn--transparent-red.question-sec__btn ВСЕ вопросы
//end question-sec