//begin result
.result
  .container
    h2.result__title Результаты теста

    .result__item
      .result__icon
        +svg('woman')
      .result__text
        p У вас не выражен климактерический синдром. Каждая женщина должна подготовиться к переменам, которые наступят после 40-летнего рубежа. От понимания предстоящих перемен во многом зависит то, как Вы справитесь с трудными аспектами менопаузы. Помните – при желании можно прожить эти годы легко и комфортно.
        p
          strong Рекомендуем раз в пол года проходить обследование специалиста. Вы можете <a href="#" class="popup-open" data-popup="popup-registration">записаться на онлайн-консультацию</a> или сходить к врачу. Ниже мы ознакомим с лучшими специалистами в области подготовки к менопаузе.
//end result