//begin stories-form
.stories-form
  .container
    h2.stories-form__title поделись своей историей
    form.stories-form__form
      input(type='text' placeholder='Ваше имя').stories-form__input
      input(type='text' placeholder='Возраст').stories-form__input
      input(type='text' placeholder='Профессия').stories-form__input
      textarea(placeholder='Ваша история').stories-form__textarea
      .stories-form__footer
        .stories-form__add-file
          input(type='file')
          +svg('binder')
          span Прикрепите фотографию
        input(type='submit' value='Поделиться').btn.btn--red.stories-form__submit
//end stories-form