//begin two-banners
.two-banners
  .container-lg
    a(href="#").two-banners__banner.two-banners__banner--flowers
      img(src="assets/img/bg-flowers.svg" alt="pic")
      h3.two-banners__title Прочитайте<br>живые истории
    a(href="#").two-banners__banner.two-banners__banner--pic
      img(src="assets/img/two-banners.jpg" alt="pic")
      h3.two-banners__title К КАКОМУ ВРАЧУ ИДТИ, ЕСЛИ ПОЯВИЛИСЬ СИМПТОМЫ КЛИМАКСА?
//end two-banners