//begin welcome-sec
.welcome-sec
  .container
    h2.welcome-sec__title Приглашаем вас поговорить<br>о женском здоровье и вашем состоянии
    .welcome-sec__blockquote
      blockquote С приходом климакса происходит гормональный спад, вслед за которым часто появляются разнообразные проблемы: с кожей и волосами, лишним весом, приливами, раздражительностью.
    .welcome-sec__info
      span <strong>На нашем сайте Вы найдете всю необходимую информацию, касающуюся климакса и его лечения.<br>У Вас в распоряжении вся профессиональная медицинская информация, изложенная в доступной форме.</strong>
      span Вы узнаете, каким образом следует изменить свою жизнь в период менопаузы, чтобы в дальнейшем научиться предупреждать болезненные симптомы.
      a(href="#" target='blank').btn.btn--red.welcome-sec__btn
        |СКАЧАТЬ ИНСТРУКЦИЮ
        span , КАК НАЧАТЬ ЛЕЧЕНИЕ
//end welcome-sec