//begin popup
.popup__layer#popup__layer

.popup#popup-registration
  include ../sections/form-sec

.popup#popup-review
  include ../sections/form-review

.popup#popup-appointment
  include ../sections/form-appointment
//end popup