//begin tooltip
.tooltip
  .tooltip__title ПоделитЬся статьей:
  .pluso(data-background='transparent' data-options='big,square,line,horizontal,nocounter,theme=04' data-services='vkontakte,odnoklassniki,facebook,twitter,google,moimir')
//end tooltip