*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.38;
  color: $text;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0 0 10px 0;
}

p {
  margin: 0 0 10px 0;
  strong {
    font-weight: bold;
  }
}

a {
  transition: color $transition;
  text-decoration: none;
  color: $link;
  &:hover {
    color: $link-hov;
  }
}

ol,
ul {
  li {
    padding: 0;
  }
}

ul {
  li {
    // путь к кастомной картинке пункта ul
    // list-style-image: url('../img/ul.png');
  }
}

//кастомные пункты списка с цифрами
ol {
  // list-style: none;
  // @include counter(li);
  li::before {
    // color: $brand;
  }
}

input,
textarea,
select,
button {
  border-radius: 0 !important;
  outline: none;
}

input {
  padding: 3px 10px 5px 10px;
  color: $text;
  border: 1px solid $text;

  @include placeholder-color($text);
}

textarea {
  resize: none;
}

input.error,
textarea.error {
  border-color: #ed1b24 !important;
  background: #fbd1d3 !important;
}

svg {
  display: block;
  overflow: visible;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  //свойство для плавной прокрутки на яблоках

  -webkit-overflow-scrolling: touch;
  @include max(1023) {
    //свойство для исправления бага 100vh для мобильных
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
  }
  &.no-scroll {
    overflow: hidden;
  }
}

.main {
  flex-grow: 1;
}

.main--inn {
  padding-top: 230px;
}

.container-lg,
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

.container-lg {
  max-width: 1920px;
  padding: 0 50px;

  @include max(1023) {
    padding: 0 30px;
  }
  @include max(540) {
    padding: 0 16px;
  }
}

.container {
  max-width: 1480px;
  padding: 0 100px;

  @include max(767) {
    padding: 0 30px;
  }
  @include max(540) {
    padding: 0 16px;
  }
}

.page-title {
  font-weight: bold;
  line-height: 1.33;
  margin-bottom: 80px;
  text-transform: uppercase;
  color: #323232;

  @include responsive-font(45, 30);
  @include max(840) {
    margin-bottom: 40px;
  }
}

.btn {
  font-family: 'Rubik', sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.2;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  padding: 7px 40px;
  cursor: pointer;
  user-select: none;
  transition: $transition;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 40px !important;
  box-shadow: none;

  @include max(680) {
    min-height: 60px;
  }
}

.btn--red {
  border: 2px solid #ff585d;
  background-color: #ff585d;
  &:hover {
    border: 2px solid #e42e33;
    background-color: #e42e33;
  }
}

.btn--pink {
  border: 2px solid #ff808b;
  background-color: #ff808b;
  &:hover {
    border: 2px solid #ff585d;
    background-color: #ff585d;
  }
}

.btn--white {
  color: #ff585d;
  border: 2px solid #fff;
  background-color: #fff;
  &:hover {
    border: 2px solid #ffeaec;
    background-color: #ffeaec;
  }
}

.btn--transparent-red {
  color: #ff585d;
  border: 2px solid #ff585d;
  background-color: transparent;
  &:hover {
    color: #fff;
    background-color: #ff585d;
  }
}

//.btn--transparent-white{
//  background-color: transparent;
//  border: 2px solid #fff;
//}
