extends ../_template

block variables
  - var title       = '45+'
  - var description = ''
  - var ogtitle     = ''
  - var ogimage     = ''

  - var pageHeaderTitle = ''
  - var breadcrumbs     = 'breadcrumbs link'

block content
  .main-wrap.no-js
    include ../sections/header

    //begin content
    main.main.index
      include ../sections/top
      include ../sections/two-banners
      include ../sections/welcome-sec
      include ../sections/form-sec
      include ../sections/grid-sec
      include ../sections/question-sec
      include ../sections/map-sec
    //end content

    include ../sections/footer
    include ../elements/popup
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAdGbaaf94NCuCkoH98Ry12HA59U0eTqIA')
    include ../sections/scripts
    script.
      (function () {
        if (window.pluso) if (typeof window.pluso.start == "function") return;
        if (window.ifpluso == undefined) {
          window.ifpluso = 1;
          var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
          s.type = 'text/javascript';
          s.charset = 'UTF-8';
          s.async = true;
          s.src = ('https:' == window.location.protocol ? 'https' : 'http') + '://share.pluso.ru/pluso-like.js';
          var h = d[g]('body')[0];
          h.appendChild(s);
        }
      })();
