extends ../_template

block variables
  - var title       = 'Ранний климакс - кто находится в зоне риска? | 45+'
  - var description = ''
  - var ogtitle     = ''
  - var ogimage     = ''

  - var pageHeaderTitle = ''
  - var breadcrumbs     = 'Ранний климакс - кто находится в зоне риска?'

block content
  .main-wrap.no-js
    include ../sections/header-inn

    //begin content
    main.main.main--inn.article
      .container
        include ../elements/breadcrumbs-article
      .container
        //begin article-body
        .article-body
          h1 H1 - Ранний климакс - кто находится в зоне риска?
          h2 H2 - Оставьте СВОЙ КОММЕНТАРИЙ
          h3 H3 - Когда заканчивается эстроген
          h4 H4 - Заголовок четвертого уровня

          p Для многих женщин это слово звучит как приговор. Хотя <a href="#">физиологически климакс</a> – всего лишь переход в следующий, полноценный период жизни. По данным ВОЗ, этот период может начинаться примерно с 48 лет. Но все чаще на приеме у гинекологов женщине ставится диагноз раннего истощения яичников.

          blockquote Эстроген необходим не только для созревания очередной яйцеклетки, но и для сохранения молодости всего организма.

          p Преждевременное прекращение функционирования яичников у женщин младше сорока — это ранний климакс. Если происходит полное прекращение менструаций в возрасте 35 лет, принято говорить о преждевременном климаксе.

          ul
            li Первый пункт списка
            li Постепенное изменение гормонального фона
            li Ускоренное наступление менопаузы

          p Так ли это на самом деле и насколько это фатально, давайте разберемся с точки зрения физиологии женского организма.

          ol
            li Первый пункт списка
            li Постепенное изменение гормонального фона
            li Ускоренное наступление менопаузы

          p При рождении в яичниках девочки находится около 2 миллионов яйцеклеток. К моменту полового созревания их количество уменьшается до 800 тысяч, а ко времени наступления первой менструации остается примерно около 350-500 тысяч.
        //end article-body


    //end content

    include ../sections/footer
    include ../sections/scripts