extends ../_template

block variables
  - var title       = 'Каков нормальный размер яичников у женщин при климаксе, есть ли фолликулы? | 45+'
  - var description = ''
  - var ogtitle     = ''
  - var ogimage     = ''

  - var pageHeaderTitle = ''
  - var breadcrumbs     = 'Каков нормальный размер яичников у женщин при климаксе, есть ли фолликулы?'

block content
  .main-wrap.no-js
    include ../sections/header-inn

    //begin content
    main.main.main--inn.article
      .container
        include ../elements/breadcrumbs-question
      .container
        //begin article-body
        .article-body
          h2.page-title.article__page-title Каков нормальный размер яичников у женщин при климаксе, есть ли фолликулы?
          //begin article__hashtags
          .article__hashtags
            a(href="#").article__hashtag Ранний климакс
          //end article__hashtags

          .article__img
            img(src="assets/img/article-img.jpg" alt="picture")

          p Насколько фатален для женского организма ранний климакс, Sputnik разбирался вместе со специалистом профилактической медицины Екатериной Степановой.
          p Для многих женщин это слово звучит как приговор. Хотя физиологически климакс – всего лишь переход в следующий, полноценный период жизни. По данным ВОЗ, этот период может начинаться примерно с 48 лет. Но все чаще на приеме у гинекологов женщине ставится диагноз раннего истощения яичников.
          p Преждевременное прекращение функционирования яичников у женщин младше сорока — это ранний климакс. Если происходит полное прекращение менструаций в возрасте 35 лет, принято говорить о преждевременном климаксе.
          p В женском организме стремительно начинает снижаться уровень таких гормонов, как эстроген и прогестерон, которые вырабатываются в яичниках.

          //begin article__sm-hashtags
          .article__sm-hashtags
            a(href="#").article__sm-hashtag # ранний климакс
            a(href="#").article__sm-hashtag # климакс
            a(href="#").article__sm-hashtag # 40 лет
            a(href="#").article__sm-hashtag # яичники
            a(href="#").article__sm-hashtag # менопауза
          //end article__sm-hashtags

          h3.article__read-more-title дополнительные материалы

          //begin article__read-more
          .article__read-more
            //begin article__read-more-item
            .article__read-more-item.grid-sec__item.grid-sec-item
              a(href="#").grid-sec-item__title Норма эндометрия матки при климаксе
              .grid-sec-item__img
                img(src="assets/img/bg-grid-07.jpg" alt="picture")
              .grid-sec-item__footer
                a(href="#").grid-sec-item__hashtag Симптомы климакса
                .grid-sec-item__footer-right
                  a(href="#").grid-sec-item__message
                    span 37
                    +svg('message')
                  .grid-sec-item__share
                    +svg('share')
                    include ../elements/tooltip
            //end article__read-more-item

            //begin article__read-more-item
            .article__read-more-item.grid-sec__item.grid-sec-item
              a(href="#").grid-sec-item__title Питание при климаксе: общие принципы
              .grid-sec-item__img
                img(src="assets/img/bg-grid-02.jpg" alt="picture")
              .grid-sec-item__footer
                a(href="#").grid-sec-item__hashtag Советы
                .grid-sec-item__footer-right
                  a(href="#").grid-sec-item__message
                    span 37
                    +svg('message')
                  .grid-sec-item__share
                    +svg('share')
                    include ../elements/tooltip
            //end article__read-more-item
          //end article__read-more

          //begin question__form
          .question__form
            h3.question__form-title Задать вопрос
            form.question-form
              .question-form__left
                input(type='text' placeholder='Ваше имя').question-form__input
                input(type='email' placeholder='Электронная почта').question-form__input
              .question-form__right
                textarea(placeholder='Ваш вопрос').question-form__textarea
              .question-form__bottom
                input(type='submit' value='Отправить').btn.btn--red.question-form__submit
          //end question__form
        //end article-body


        include ../sections/aside

      include ../sections/map-sec
    //end content

    include ../sections/footer
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAdGbaaf94NCuCkoH98Ry12HA59U0eTqIA')
    include ../sections/scripts
    script.
      (function () {
        if (window.pluso) if (typeof window.pluso.start == "function") return;
        if (window.ifpluso == undefined) {
          window.ifpluso = 1;
          var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
          s.type = 'text/javascript';
          s.charset = 'UTF-8';
          s.async = true;
          s.src = ('https:' == window.location.protocol ? 'https' : 'http') + '://share.pluso.ru/pluso-like.js';
          var h = d[g]('body')[0];
          h.appendChild(s);
        }
      })();


